<h1><%= @friend.name %>'s Recent Posts</h1>


<div id="posts">
  <% @posts.each do |post| %>
    <p>Description: <%= post.description %></p>
    <p>Tone: <%= post.tone %></p>
    <p>Emotion: <%= post.emotion %></p>
  <% end %>
</div>
