<nav class="navbar navbar-expand-lg navbar-light bg-info my-0, my-lg-2, mr-sm-0, my-sm-0">
<%=button_to 'Login with Google', '/auth/google_oauth2' %>
</nav>

<img src="./app/assets/images/hayd_logo.jpg" alt="How Are You Doing">

