<div class="container">
<div style="padding:300px">
  <div class="mx-auto" style="width: 450px">
      <%=button_to 'Login with Google', '/auth/google_oauth2', class:"btn btn-info" %>
    </div>
  </div>
</div>